/* Bilder der Logos gestylt */

#brand {
    float:left;
    margin: 0 5% 0 0;
}


img#brand {
    height: 100%;
    width: 80%

}

#brandcontain {
    horiz-align: center;
}

/* Ende von Logo Styling und Anfang von Styling für Navigation */

/* Add a black background color to the top navigation */
.topnav{
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navigationbar to fixed position */
    top: 0; /* Position the navigationbar at the top of the page */
    width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4c6faf;
    color: white;
}

/* Einstellung für Footer*/
#myfooter {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navigationbar to fixed position */
    bottom: 0; /* Position the navigationbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
}

#myfooter a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Login Style*/
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}